/**
*
* Testing
*
**/
* {
  box-sizing: border-box; }

body {
  background: #DFADF6;
  font: 100% After Night;
  color: #707070;
  margin: 0;
  height: 100%;
  overflow: hidden; }

.haut {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 500;
  height: 50%;
  top: -1%; }

.bas {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 500;
  height: 50%;
  top: 51%; }

.milieu {
  position: fixed;
  width: 100%;
  z-index: 499;
  height: 2%;
  top: 49%;
  background: white; }

.loading {
  position: absolute;
  z-index: 501;
  height: 200%;
  width: 200%;
  top: -20px;
  background-image: url("/main/img/loading....png");
  background-repeat: space; }

.reseaux {
  position: fixed;
  top: 12px;
  width: 100%;
  opacity: 0.8;
  z-index: 600; }
  @media (max-width: 768px) {
    .reseaux {
      left: 9%; } }
  @media (max-width: 425px) {
    .reseaux {
      left: 8%; } }
  @media (max-width: 375px) {
    .reseaux {
      left: 3.5%; } }
  @media (max-width: 360px) {
    .reseaux {
      left: 0.5%; } }
  .reseaux-nav {
    display: flex;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none; }
  .reseaux .element {
    margin-top: 3px;
    margin-left: 100px; }
    @media (max-width: 1366px) {
      .reseaux .element {
        margin-left: 50px; } }
    @media (max-width: 1170px) {
      .reseaux .element {
        margin-left: 35px; } }
    @media (max-width: 768px) {
      .reseaux .element {
        margin-left: 50px; } }
    @media (max-width: 425px) {
      .reseaux .element {
        margin-left: 20px; } }
    .reseaux .element a {
      font-size: 18px;
      color: #707070;
      text-decoration: none; }
      @media (max-width: 425px) {
        .reseaux .element a {
          font-size: 12px; } }
      @media (max-width: 360px) {
        .reseaux .element a {
          font-size: 10px; } }
      .reseaux .element a .icon.stream {
        width: 7%; }
        @media (max-width: 1366px) {
          .reseaux .element a .icon.stream {
            width: 10%; } }
      .reseaux .element a .icon.youtube {
        width: 6%; }
        @media (max-width: 1366px) {
          .reseaux .element a .icon.youtube {
            width: 10%; } }
      .reseaux .element a .icon.twitter {
        width: 6%; }
        @media (max-width: 1366px) {
          .reseaux .element a .icon.twitter {
            width: 10%; } }
      .reseaux .element a .icon.instagram {
        width: 5%; }
        @media (max-width: 1366px) {
          .reseaux .element a .icon.instagram {
            width: 10%; } }
      .reseaux .element a .icon.dollar {
        width: 5.5%; }
        @media (max-width: 1366px) {
          .reseaux .element a .icon.dollar {
            width: 10%; } }
      @media (max-width: 768px) {
        .reseaux .element a .icon {
          display: none; } }
      .reseaux .element a .legende {
        margin-left: 5px; }

.akilis {
  text-align: center;
  margin: 0;
  position: fixed;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 200px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: whitesmoke;
  z-index: 600; }
  .akilis:hover {
    -webkit-text-stroke-width: 0.3px;
    transition: all 0.5s ease-out;
    cursor: default; }
  @media (max-width: 1366px) {
    .akilis {
      font-size: 170px; } }
  @media (max-width: 1170px) {
    .akilis {
      font-size: 160px; } }
  @media (max-width: 425px) {
    .akilis {
      font-size: 120px; } }
  @media (max-width: 375px) {
    .akilis {
      font-size: 100px; } }

.description {
  position: fixed;
  top: 62%;
  left: 33%;
  z-index: 3; }
  @media (max-width: 1440px) {
    .description {
      left: 27%; } }
  @media (max-width: 1366px) {
    .description {
      left: 31%; } }
  @media (max-width: 1170px) {
    .description {
      font-size: 14px;
      left: 33%; } }
  @media (max-width: 768px) {
    .description {
      top: 70%;
      left: 26%; } }
  @media (max-width: 425px) {
    .description {
      left: 17%;
      font-size: 10px; } }
  @media (max-width: 375px) {
    .description {
      display: none; } }
  .description .qualites {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none; }
    .description .qualites .qualite {
      margin-left: 5rem; }
      @media (max-width: 1366px) {
        .description .qualites .qualite {
          margin-left: 3rem; } }
      @media (max-width: 1170px) {
        .description .qualites .qualite {
          margin-left: 1.5rem; } }

.chevre {
  position: fixed;
  width: 14%;
  top: 17%;
  left: 59.5%; }
  @media (max-width: 1366px) {
    .chevre {
      width: 14%;
      left: 61%;
      top: 22%; } }
  @media (max-width: 1170px) {
    .chevre {
      width: 10rem;
      left: 65%;
      top: 13rem; } }
  @media (max-width: 768px) {
    .chevre {
      display: none; } }

.tv {
  position: fixed;
  width: 16%;
  transform: rotate(15deg);
  display: flex;
  top: 50%;
  left: 77%;
  z-index: 600; }
  @media (max-width: 1366px) {
    .tv {
      width: 14%; } }
  @media (max-width: 1170px) {
    .tv {
      top: 55%; } }

.ytb {
  position: absolute;
  z-index: 601;
  top: 59%;
  left: 77.905%;
  transform: rotate(15deg);
  opacity: 0.5; }
  @media (max-width: 1170px) {
    .ytb {
      opacity: 0; } }

.commentaires {
  position: fixed;
  top: 85%;
  width: 33%;
  left: 35%;
  padding: 7px;
  opacity: 0.8; }
  .commentaires .citation {
    margin: 0;
    text-align: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-size: large; }

.me_contacter {
  position: fixed;
  display: flex;
  top: 92%;
  padding: 1rem;
  color: #707070;
  text-decoration: none;
  z-index: 600; }
  .me_contacter .email {
    width: 3%;
    height: 100%;
    object-fit: contain;
    margin-top: 1rem; }
    .me_contacter .email:hover {
      transform: scale(1.15);
      transition: all .5s; }
  .me_contacter .contact {
    top: 90%;
    margin-left: 10px; }
    .me_contacter .contact:hover {
      transform: scale(1.03);
      transition: all .5s; }
  @media (max-width: 1366px) {
    .me_contacter {
      padding: 0.5rem;
      top: 94%; } }
  @media (max-width: 768px) {
    .me_contacter {
      display: none; } }

.regard {
  position: fixed;
  display: flex;
  width: 17%;
  top: 50%;
  left: 7%;
  z-index: 600; }
  .regard:hover {
    transform: scale(1.05);
    transition: all .5s; }
  @media (max-width: 1366px) {
    .regard {
      width: 14%; } }
  @media (max-width: 1170px) {
    .regard {
      top: 55%; } }

.qualites:after {
  content: '';
  position: absolute;
  left: 0;
  width: 101%;
  height: 100%;
  background: #DFADF6;
  z-index: 100;
  transform-origin: 100% 0; }
